@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	font-family: 'Open Sans' ,'Raleway', sans-serif ;
	margin: 0;
  	padding: 0;
  	height: auto;
	background-color: #eee;
}
a{
	color: white;
	text-decoration: none !important;
}
a:hover{
	text-decoration: none;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 20px;
	transition: all .5s;
}
h5{
	margin-top:0px !important;
}
nav.nav{
	display: block;
	position: fixed;
	width: 100%;
	padding-top: 10px;
}
a.nav-item{
	text-decoration: none;
}

ul > li {
	float: left;
	padding-left: 10px;
}
button.is-info{
	font-size: 1.5rem;
}
.jumbotron{
	background-color: white;
}
.absoulteUl{
	position: absolute;
	top: 85%;
	left: 48%;
}
.spaceBottomMedium{
	margin-bottom: 15px
}
.spaceBottomLarge{
	margin-bottom: 30px
}
.paddingTopMedium{
	padding-top: 30px
}
.paddingTopLarge{
	padding-top: 65px;
}
.notification{
	transition: all .25s;
	border-radius: 10px;
}
.notification:hover{
	transform: scale(1.02,1.02);
	box-shadow: 5px 5px 10px #888888;
}
.notification:visited{
	text-decoration: none;
}
.notification:hover h4{
	color: black;
}
.column{
	position: relative;
}
.column > .item.showItem{
	display: block;
}
.column > .item{
	display: none;
}
.carousel-control {
    height: 665px;
    border: 0;
}
.panel-heading{
	background-color: #333135;
	color: #e2e2e2;
	padding: 15px;
	border-radius: 10px 10px 0 0;
}
.imageItem1{
	background-image: url(../images/bg-food1.jpg);
	background-size: cover;
	width: 100%;
	height: 615px;
}
.imageItem2{
	background-image: url(../images/bg-food2.jpg);
	background-size: cover;
	width: 100%;
	height: 615px;
}
.imageItem3{
	background-image: url(../images/bg-food3.jpg);
	background-size: cover;
	width: 100%;
	height: 615px;
}
.img-fit-card{
	width: 100%;
	height: 200px !important;
    object-fit: cover;
}
.img-fit{
	width: 100%;
	height: 400px;
    object-fit: cover;
}
.btn-slider{
	width: 15px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid;
    background: transparent;
    border-color: wheat;
    transition: all .5s;
}
.btn-slider:hover , .btn-slider:focus , .btn-slider:visited{
    background: wheat;
}
.colorPrimary{
	color: #00d1b2;
}
.fa-shopping-basket{
	font-size: 13px;
}
.nav-right > a > h5{
	padding:15px;
}
.container > small{
	word-wrap: break-word;
	text-align: justify;
}

@media screen and (min-width: 768px){
	.container .jumbotron, .container-fluid .jumbotron {
     padding-right: 0px; 
     padding-left: 0px; 
	}
}